{% extends 'Games/base.html' %}


{% load static %}


{% block content %}

<!-- ?  -------------------------------------    Games List ------------------------------------------- -->


<main>
    <article>
        <div class="section-wrapper" id="games-section"
            style="background: url('{% static '/media/section-wrapper-bg.jpg' %}') no-repeat; background-size: cover; background-position: center; padding-top: 50px;">
            <section class="gears" id="gears">
                <div class="container">

                    <h2 class="h2 section-title">check our Games</h2>



                    <!-- <h3 class="h3 section-title">check our gears</h3> -->

                    <ul class="gears-list">

                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">

                                    <a href="">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">
                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>


                                    </div>
                                </a>

                            </div>
                        </li>


                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">
                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>

                                    </div>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">

                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>



                    </ul>



                    <ul class="gears-list">

                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">

                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">

                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">

                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>

                    </ul>

                    <ul class="gears-list">

                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">

                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">
                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="gears-card">

                                <div class="card-banner"
                                    style="background: url('{% static '/media/Games/gears-card-bg.png' %}');">


                                    <a href="#">
                                        <img src="./assets/images/gears-img-1.png" alt="Headphone">
                                    </a>

                                    <button class="share">
                                        <ion-icon name="share-social"></ion-icon>
                                    </button>



                                </div>

                                <div class="card-content">

                                    <div class="card-title-wrapper">

                                        <h3 class="h3 card-title">Headphone</h3>

                                        <p class="card-subtitle">e-sports</p>

                                    </div>

                                    <div class="card-prize">by Garvit</div>

                                </div>
                                <a href="{% url 'Brick_breaker' %}">
                                    <div class="card-actions">

                                        <button class="btn btn-primary" id="play">


                                            <span>Explore Now</span>
                                        </button>



                                    </div>
                                </a>
                            </div>
                        </li>





                    </ul>

                </div>
            </section>
        </div>
    </article>
</main>


<!-- ! -------------------------------------    Games List  End ------------------------------------------- -->


{% endblock %}